<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  {{!-- <link rel="stylesheet" type="text/css" href="/css/jass.css"> --}}
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
    <nav>
      <a href="/">Home</a>
      <a href="/dashboard">Dashboard</a>
     
      <button id="logout" class="btn-no-style">Logout</button>
    
    </nav>
    <h1>Your Dashboard</h1>
  </header>
  
  <main> 
    <section class=container>
      {{{body}}}
    </section>
      
      <a id="new-post" href="/dashboard/create-post">+ New Post</a>
  </main>
  
  <script src="/js/logout.js"></script>
 
</body>

</html>