  <div class="card">
    <div class="post-card">
    <h2 class="page-title">Edit Post</h2>
    <form class="form editPost-form">
      <div class="form-group">
        <label for="title-post">Title:</label>
        <input class="form-input" type="text" id="title-post" value="{{post.title}}" />
      </div>
      <div class="form-group">
        <label for="description-post">Description:</label>
        <textarea id="description-post">{{post.description}}</textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" id="update-button" type="Update">Update</button>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" id="delete-button" type="Delete">Delete</button>
      </div>
    </form>
  </div>

  <script src="/js/edit.js"></script>