{{#each posts as |post|}}
  <a href="/dashboard/edit/{{id}}" class="card my-post-card flex-row">{{post.title}} {{format_date date_created}}</a>  
    
{{/each}}



{{!-- <script src='/js/single-post.js'></script> --}}
